<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bulk_goods>
            <general>
                <is_enabled>0</is_enabled>
                <label>Bulk Goods Fee</label>
                <fee>0</fee>
                <is_free_shipping>0</is_free_shipping>
            </general>
        </bulk_goods>
    </default>
</config>
