<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="bulk_goods" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Bulk Goods</label>
            <tab>magesuite</tab>
            <resource>MageSuite_BulkGoods::config_bulk_goods</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is enabled</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label</label>
                    <comment>This text will be displayed in the totals section.</comment>
                </field>
                <field id="fee" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Fee</label>
                    <comment>This value will be added to totals, if any bulk good is in the cart.</comment>
                </field>
                <field id="is_free_shipping" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Free shipping</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Bulk goods fee will not be added if shipping is free.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
